.settings .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings .header__title {
  font-size: 25px;
}

.settings__sections {
  border-top: 1px solid #f7f7f7;
  padding-top: 40px;
}

.settings__setting {
  margin-bottom: 50px;
}

.settings__icon {
  font-size: 20px;
  margin-right: 25px;
}

.settings__title {
  font-size: 23px;
  font-weight: 400;
}
